[submodule "egg"]
	path = egg
	url = https://github.com/jakobhartmann/egg.git
[submodule "tensat"]
	path = tensat
	url = https://github.com/jakobhartmann/tensat.git
[submodule "rmcts"]
	path = rmcts
	url = https://github.com/jakobhartmann/rmcts.git
	branch = tensat
